
    /**
    * <%= prop.title%>
    * <%= prop.description %>
    */
    <% sys.each(decs, function(v){ %><%- v %>
    <%}); _%>
@IsInstance(<%= prop.class[ "x-model-name" ] %>)
    <%= prop.name %><%= prop.required ? "" : "?" %>: <%= prop.class[ "x-model-name" ] %><% if ( !sys.isUndefined( prop.defaultValue ) ){ %> = <%= prop.defaultValue %><% } %>;
