    /**
    * <%= prop.title%>
    * <%= prop.description %>
    */
    <% sys.each(decs, function(v){ %><%- v %>
    <%}); _%>
@IsString()
    <%= prop.name %><%= prop.required ? "" : "?" %>: string<% if ( !sys.isUndefined( prop.defaultValue ) ){ %> = <%= prop.defaultValue %> <% } %>;

