    /**
    * <%= prop.title%>
    * <%= prop.description %>
    */
    @IsBoolean()
    <%= prop.name %><%= prop.required ? "" : "?" %>: string<% if ( !sys.isUndefined( prop.defaultValue ) ){ %> = <%= prop.defaultValue %> <% } %>;
